<h1>Church</h1>
<p>St Mary's Church, Chepstow</p>

<p>
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/0/08/St_Mary%27s_Church%2C_Chepstow.jpg", :alt => "St Mary's Church, Chepstow" ) %>
</p>

<ul class="vcard"> 
  <li class="fn">Priory Church of St Mary</li>
  <li>Upper Church St.</li> 
  <li>Chepstow</li> 
  <li>Gwent</li>
  <li>NP16 5HA</li>
  <li><a target="_blank" href="https://maps.google.com/maps?q=Priory+Church+of+St+Mary&hl=en&sll=51.642667,-2.672228&sspn=0.013556,0.038581&t=m&z=15">See in Google maps</a></li> 
</ul>