<h1>Church</h1>
<p>St Mary's Church, Chepstow</p>

<p>
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/0/08/St_Mary%27s_Church%2C_Chepstow.jpg", :alt => "St Mary's Church, Chepstow" ) %>
</p>