<h1>Reception</h1>
<p>Drill Hall</p>

<ul class="vcard"> 
  <li class="fn">Priory Church of St Mary</li>
  <li>Lower Church St.</li> 
  <li>Chepstow</li> 
  <li>Gwent</li>
  <li>NP16 5HJ</li>
  <li><a target="_blank" href="https://maps.google.com/maps?q=Drill+Hall,+Lower+Church+Street,+Chepstow,+United+Kingdom&hl=en&sll=51.643776,-2.67221&sspn=0.013555,0.038581&oq=drill+&hnear=Drill+Hall,+Lower+Church+St,+Chepstow,+Gwent+NP16+5HJ,+United+Kingdom&t=m&z=16">See in Google maps</a></li> 
</ul>